/* 
Author: Susie Stanley
Purpose: Controls styling of all article pages

Page colors:
#FBC859 - Daffodil
#A4B900 - Avocado
#bcd501 - Lime
#483934 - Mahogany
#76AECB - Periwinkle

Page font:
Montserrat', sans-serif;
*/

/* start of styling for Article List */
.section__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  min-height: 65vh;
}

.section__header {
  font-size: 44px;
  color: #a4b900;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.section__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add__article {
  font-size: 18px;
  font-weight: 600;
  background-color: #a4b900;
  border: 1px solid #849503;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.card__content {
  align-self: center;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #241c1a;
  background-color: #a3b90061;
  border: 2px solid #a4b900;
  border-radius: 7px;
}

.article__info {
  width: 520px;
  white-space: wrap;
  padding: 20px;
  background-color: #fbc859bc;
  border: 0.5px solid #fbc85968;
  border-radius: 7px;
}

.article__info--friend {
  width: 520px;
  white-space: wrap;
  padding: 20px;
  background-color: #fbc859bc;
  border: 0.5px solid #fbc85968;
  border-radius: 7px;
  background-color: cornsilk;
  font-style: italic;
}

.article__info--field a {
  text-decoration: none;
  color: #596501;
  font-weight: 600;
}

.remove__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px 5px 20px;
  margin: auto 10px;
  /* border: 1px solid blue; */
}

.button {
  color: #483934;
  margin: 5px;
  border: none;
  background-color: transparent;
}

.button.sm {
  font-size: 26px;
}

.button.med {
  font-size: 30px;
}

.button.lg {
  font-size: 36px;
}

/* end of styling for Article List */

/* start of styling for Add Article Form */
.form__flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  min-height: 65vh;
}

form {
  align-self: center;
}

.form__title {
  font-size: 44px;
  color: #a4b900;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 20px;
}

fieldset {
  width: 500px;
  background-color: #fbc859df;
  color: #483934;
  text-align: left;
  font-weight: bolder;
  padding: 20px 10px 20px 20px;
  border: 2px solid #fec54a;
  border-radius: 10px;
}

label {
  font-size: 20px;
  margin-top: 20px;
}

input,
select {
  padding: 0px 5px;
  text-decoration: none;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
}

.form__group--edit {
  display: block;
  width: 96%;
  margin: 5px 0px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 40px;
}

.form__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.form__btn {
  font-size: 18px;
  font-weight: 600;
  background-color: #a4b900;
  border: 1px solid #849503;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 6px;
}
/* end of styling for Add Article Form */
