/* 
Author: Susie Stanley
Purpose: Controls styling of all article pages

Page colors:
#FBC859 - Daffodil
#A4B900 - Avocado
#bcd501 - Lime
#483934 - Mahogany
#76AECB - Periwinkle

Page font:
Montserrat', sans-serif;
*/

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.section__header {
  font-size: 44px;
  color: #A4B900;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.section__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add__task {
  font-size: 18px;
  font-weight: 600;
  background-color: #A4B900;
  border: 1px solid #849503;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.card__content--task {
  align-self: center;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #241c1a;
  background-color: #a3b90061;
  border: 2px solid #A4B900;
  border-radius: 7px;
}

.task__info {
  flex: 3;
  white-space: wrap;
  padding: 20px;
  background-color: #fbc859bc;
  border: 0.5px solid #fbc85968;
  border-radius: 7px;
}

.task__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

.task__section {
  /* flex: 1; */
  padding: 0px;
  margin: 0px;
}

.task__title {
  font-size: 26px;
}

/* .task__btns {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px 5px 20px;
  margin: auto 10px;
} */

.task__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 5px 20px;
  margin: auto;
}

.task__complete {
  flex: 1;
  white-space: nowrap;
  margin: 10px 0px;
}

.checkbox {
  margin-right: 10px;
}

.task__edit__btns {
  flex: 1;
  padding: 0px;
  margin: 0px;
}

/* .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
} */

/* .form button {
  display: flex;
  justify-content: flex-start;
} */